.footer{
    background-color:  #595f6f;
    display: flex;
     @media screen and (min-width: 320px) {
        padding: 20px 15px 30px;
        flex-direction: column;
        


    }
    
     @media screen and (min-width: 750px) {
        padding: 63px 69px 90px;
    }

}
.paiment{
    
    text-align: center;
    border-bottom: 2px solid #4d5362;
     @media screen and (min-width: 320px) {
        margin: 0;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 750px) {
        padding-bottom: 80px;
    }
}
.paiment__title{

         @media screen and (min-width: 320px) {
            font-size: 2.7rem;
            padding: 0;
            margin: 0 0 20px;
        }

        @media screen and (min-width: 750px) {
            font-size: 3.375rem;
            line-height: 2.51rem;
            padding: 0;
            margin: 0 0 50px;
    }
}

.paiment__subtitle {
    text-transform: uppercase;
    color: #c3c3c3;
    font-family: $base-font;
    
     @media screen and (min-width: 320px) {
            font-size: 1rem;
            line-height: 1.6rem;
            padding: 0;
            margin: 0 0 20px; 
        }

     @media screen and (min-width: 750px) {
        font-size: 1.75rem;
        line-height: 2.51rem;
        margin-bottom: 65px;      
    }
}

.payment__link {
    font-family: $base-font;
    color: #c3c3c3;
    text-decoration: underline;
    display: block;
    

      @media screen and (min-width: 320px) {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin: 0 0 20px;
        padding: 0;
        }

     @media screen and (min-width: 750px) {
        font-size: 1.75rem;
        line-height: 2.913rem;   
    }
}
.payment__copy {
color: $base-color;
font-family: 'Open Sans Condensed', sans-serif;


@media screen and (min-width: 320px) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        }

@media screen and (min-width: 750px) {
    font-weight: 700;
    font-size: 1.75rem;  
    }
}

.nav { 
      @media screen and (min-width: 320px) {
            margin: 0;
            padding: 30px 0;
            border-bottom: 2px solid #4d5362;
        }
    
    @media screen and (min-width: 750px) {
            padding: 90px 0 80px;
        }
    
}
.nav__list {
    margin: 0;
    padding: 0;
   
       @media screen and (min-width: 320px) {
             text-align: center;
        }
}
.nav__item {
    list-style-type: none;
    @media screen and (min-width: 320px) {
            padding: 0;
            margin: 0 0 20px;
        }

    @media screen and (min-width: 750px) {
        margin: 0 0 50px;
    }
    &:last-child {
        margin-bottom: 0;
    }
  
    
}
.nav__link {
    display: block;
    width: 100%;
    font-family: $base-font;
    text-transform: uppercase;  
    color: #c3c3c3;
    text-decoration: none;
    font-weight: 300;
    @media screen and (min-width: 320px) {
            font-size: 1.4rem;
           
        }
  
    
    @media screen and (min-width: 750px) {
            font-size: 2.313rem;
            
        }
}

.subscribe {
    text-align: center;
    padding: 30px 0 0;
    
     @media screen and (min-width: 750px) {
            padding-top: 90px;
        }
    

    &__title {
        text-transform: uppercase;
        font-family: $base-font;
        font-weight: 300;
        color: $base-color;
        padding: 0;
        margin: 0 0 20px;

        
        @media screen and (min-width: 750px) {
            font-size: 2.188rem;
            margin-bottom: 40px;
        }
        
    }

    &__email {
        
        background-color: rgba(129, 129, 129, 0.1);
        min-width: 280px;
        color: #fff;
        font-family: $base-font;
        font-style: italic;
        font-weight: 300;
        font-size: 1.2rem;
        margin: 0 0 20px;
        text-align: center;
        padding: 20px;       
        
         @media screen and (min-width: 750px) {
            min-width: 538px;
            font-size: 1.875rem;
            margin: 0 0 87px;
            padding: 39px 20px;
        }
        
    }
}