.shop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
    
}
.shop__img {
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
}


.shop__column {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}



.shop__column--left {
  &:after {

            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1d619c;
            background: linear-gradient(to top, #48b1b0 0%, #1940ae 100%);
            opacity: 0.7;
            width: 100%;
            height: 100%;
            z-index: 2;
        }  

}

.shop__column--right {
    margin-top: -4px;
  &:after {

            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1d619c;
            background-image: linear-gradient(to top, #e192ff 0%, #7e31c0 100%);
            opacity: 0.7;
            width: 100%;
            height: 100%;
            z-index: 2;
        }  

}

.shop__descr {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column; 
        z-index: 3;

      

        &--left {
           top: 65%;
           
           @media screen and (min-width: 400px) {
             top: 60%;
            }

            @media screen and (min-width: 450px) {
             top: 55%;
            }

             @media screen and (min-width: 750px) {
             top: 65%;
            }
        }

         

        &--right {
            @media screen and (min-width: 320px) {
                top: 44%;
            }
        }

      
           
}

.shop__title {
    color: $base-color;
    padding: 0;
    margin: 0 0 5px 0;
    
    font-weight: 400;
    


 @media screen and (min-width: 320px) {
        font-size: 3rem;
        line-height: 3rem;
    }
    @media screen and (min-width: 360px) {
            font-size: 3.063rem;
            line-height: 3.063rem;
    }

     @media screen and (min-width: 750px) {
        font-size: 5.063rem;
        line-height: 3.711rem;
        padding-bottom: 5px;
        }

   

    &--left {
        font-family: "high_tideregular";
        letter-spacing: 1px;

        
    }

    &--right {
        font-family: "dymaxionscriptregular";
    }


}

.shop__subtitle {
    padding: 0;
    margin: 0 0 50px 0;
    color: $base-color;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.375rem;
    font-weight: 400;
    line-height: 3.375rem;
     @media screen and (min-width: 320px) {
        font-size: 2rem;
        line-height: 2rem; 
        margin-bottom: 20px;   
    }

    @media screen and (min-width: 360px) {
        font-size: 2.5rem;
        line-height: 2rem;
        white-space: nowrap;
        margin-bottom: 25px;
    }

    @media screen and (min-width: 750px) {
        font-size: 3.375rem;
        line-height: 3.711rem;
        padding-bottom: 40px;
    }
   
    
           
}

.btn {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    margin: 0;
    padding: 35px 55px;
    border: none;
    
    // inner text
    color: $base-color;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 14px 26px;
    font-size: 1.0rem;
    font-weight: 400;
    

   

    @media screen and (min-width: 360px) {
        white-space: nowrap;
        font-size: 1.5rem;

    }

    @media screen and (min-width: 750px) {
        font-size: 2.438rem;
        padding: 35px 55px;
    }

   

}